.product-detail-restro-intro-complete-container {
  background-image: url('https://res.cloudinary.com/dxgtgmvys/image/upload/v1723011748/Frame_279_amw26y.png');
  height: 270px;
  width: 100%;
  background-size: cover;
  margin-top: 3%;
  display: flex;
  flex-direction: row;
}
.restaurant-detail-page-image-main {
  height: 220px;
  width: 330px;
  border-radius: 10px;
  margin-top: 1.5%;
  margin-left: 10%;
}
.restaurant-info-card {
  display: flex;
  flex-direction: row;
}
.restaurant-info-rating-view {
  display: flex;
  flex-direction: row;
}
.restaurant-info-name {
  color: white;
  font-family: Roboto;
  font-weight: 500;
  padding-left: 7%;
  padding-top: 2%;
}
.restaurant-info-cuisine {
  color: #e2e8f0;
  font-family: Roboto;
  font-weight: 400;
  font-size: 13px;
  padding-left: 7%;
}
.restaurant-info-location {
  color: #e2e8f0;
  font-family: Roboto;
  font-weight: 400;
  font-size: 13px;
  padding-left: 7%;
}
.star-icon {
  color: #e2e8f0;
  height: 13px;
  width: 13px;
  /* margin-left: 7%; */
}
.restaurant-info-rating {
  color: #e2e8f0;
  font-family: Roboto;
  font-weight: 400;
  font-size: 13px;
  padding-left: 7px;
  padding-top: 4px;
}
.restaurant-info-rating-view {
  color: #e2e8f0;
  font-family: Roboto;
  font-weight: 300;
  font-size: 12px;
  padding-left: 7%;
}
.restaurant-info-cost {
  color: #e2e8f0;
  font-family: Roboto;
  font-weight: 400;
  font-size: 13px;
  padding-left: 7px;
  padding-top: 4px;
}
.horizontal-line {
  height: 25px;
}
.food-item-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.restaurant-detail-page-image-main {
  width: 300px;
  border-radius: 15px;
  margin-right: 15px;
}
.restaurant-detail-page-main-top-content {
  color: white;
}
.restaurant-detail-page-main-heading {
  font-weight: 500;
  font-size: 30px;
  line-height: 48px;
  letter-spacing: 0.2px;
}
.restaurant-detail-page-main-cuisine,
.restaurant-detail-page-main-location {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 15px;
}
.restaurant-detail-page-main-rate-container {
  display: flex;
  flex-direction: row;
}
.restaurant-detail-page-main-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.restaurant-detail-page-main-bottom-container-right {
  margin-left: 10px;
}
.restaurant-detail-page-main-bottom-container-left {
  margin-right: 20px;
}
.detail-page-rating-and-rupees {
  margin-left: 5px;
}
.detail-page-main-vertical-line {
  border: 1px solid white;
  width: 0px;
}
.detail-page-rating-and-rupees-details {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-top: 5px;
}
@media all and (max-width: 768px) {
  .restaurant-detail-page-image-main {
    width: 150px;
    height: 150px;
    border-radius: 0px 0px 100px;
    align-self: flex-start;
    flex-shrink: 1;
  }
  .restaurant-detail-page-main-top-content {
    max-width: 180px;
    margin-right: 10px;
  }
  .restaurant-detail-page-main-heading {
    font-size: 20px;
    margin: 0px 0px 5px 0px;
    line-height: 20px;
  }
  .restaurant-detail-page-main-cuisine,
  .restaurant-detail-page-main-location {
    margin: 0px 0px 5px 0px;
    line-height: 15px;
    font-size: 10px;
  }
  .restaurant-detail-page-main-rate-container {
    margin: 5px 0px 5px 0px;
  }
  .detail-page-rating-and-rupees-details {
    font-size: 10px;
    line-height: 10px;
    margin-top: 5px;
  }
}
.restaurant-detail-all-foods-list-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.restaurant-detail-page-un-order-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media all and (min-width: 500px) {
  .restaurant-detail-page-un-order-list {
    max-width: 85%;
  }
}
.restaurant-detail-page-loader {
  min-height: 100vh;
  color: #ffa412;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
